@media (min-width: 600px) {
  /*Remove mobile menu*/
  #navMobile {
    visibility: collapse;
  }
  #navigation {
    position: fixed;
    top: 45vh;
    width: 150px;
    transform: translateY(-50%);
    overflow: visible;
    transition: width 0.3s ease;
    z-index: 10000;

    &.nav_close {
      width: 0px;
    }
    #navActionButton {
      width: 50px;
      height: 100%;
      text-align: center;
      align-content: center;
      position: absolute;
      border: none;
      border-left: 1px solid rgba(75, 75, 75, 0.541);
      left: 100%;
      z-index: 1;

      #navClosed {
        display: none;
      }

      #navigation.nav_close & {
        opacity: 1;
        #navClosed {
          display: inline;
        }
        #navOpened {
          display: none;
        }
      }
      &:hover {
        cursor: pointer;
        background-color: #05050550;
        border-left: 1px solid rgb(116, 49, 202);
      }
    }

    a {
      background-color: #05050571;
      text-decoration: none;
      display: block;
      width: clamp(100px, 10vw, 100px);
      height: 75px;
      width: 100%;
      text-align: center;
      line-height: 75px;
      border-bottom: 1px solid rgba(75, 75, 75, 0.541);
      opacity: 1;
      transition: opacity 0.3s ease;
      overflow: hidden;

      #navigation.nav_close & {
        opacity: 0;
      }
      &:hover {
        border-bottom: 1px solid rgb(116, 49, 202);
        background-color: #05050550;
      }
    }
  }
}

@media (max-width: 599px) {
  /*Remove desktop menu*/
  #navigation {
    visibility: collapse;
  }

  #navMobile{
    #navMenu{
        
    }
  }

}
